<!DOCTYPE html>
<html>
<body>

<h2>Add your expense</h2>

<form name="expenseInput" action="" onsubmit="alert('Data Successfully loaded into Database')" method="post">
    <label for="name">Name:</label><br>

    <select name="name" id="name">
        <option value="Fabian">Fabian</option>
        <option value="Max">Max</option>
    </select>
    <br>
    <label for="expense-desc">Expense Description:</label><br>
    <input type="text" id="expense-desc" name="expense-desc" placeholder="Insert Description" required><br><label
        for="expense-amount">Expense Amount:</label>
    <br>
    <input type="number" id="expense-amount" name="expense-amount" min="0" max="100" placeholder="0,00" step="0.01" required>
    <br><br>
    <p style="color:red">{{error_message}}</p>
    <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be available at the
    main page.</p>

<a href="/">Go to main page</a>

</body>
</html>
